@model IEnumerable<proy_caguamanta.Models.Empleado>
@{
    ViewData["Title"] = "Lista de Empleados";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1> LISTA DE EMPLEADOS</h1>

<div class="container">
    <div class="row mt-5">
        <div class="col-3">
            <a class="btn btn-primary text-white form-control" asp-action="Crear">Agregar Nuevo</a>
        </div>
        <div class="col-3">
            <a class="btn btn-primary text-white form-control" asp-action="CrearMultiple">Agregar multiples</a>
        </div>
        <div class="col-3">
            <a class="btn btn-outline-success text-white form-control" asp-action="EditarMultiple">Editar Multiples</a>
        </div>
        <div class="col-3">
            <a class="btn btn-primary text-white form-control" asp-action="EliminarMultiple">Eliminar multiples</a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            @if (Model.Count() > 0)
            {
                <table class="table table-striped border">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>
                            <th>Contraseña</th>
                            <th>Telefono</th>
                            <th>Direccion</th>
                            <th>Puesto</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Nombre</td>
                                <td>@item.Apellido</td>
                                <td>@item.Correo</td>
                                <td>@item.Contrasena</td>
                                <td>@item.Telefono</td>
                                <td>@item.Direccion</td>
                                <td>@item.PuestoId</td>
                                <td>@item.Estado</td>
                                <td><a class="btn btn-outline-primary form-control" asp-action="Editar" asp-route-id="@item.Id">Editar</a></td>
                                <td><a class="btn btn-outline-danger form-control" asp-action="Eliminar" asp-route-id="@item.Id">Eliminar</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>NO HAY NINGUN EMPLEADO</p>

            }
        </div>
    </div>
    </div>