@model proy_caguamanta.Models.DetalleVenta
@{
	ViewData["Title"] = "Eliminar Detalle de venta";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center m-5">Eliminar Detalle de venta</h1>

<form method="post" asp-action="Eliminar">
	<div class="container">
		<p>¿Estas seguro de eliminar este detalle de venta?</p>
		<hr color="gray" />
		<p>
			<strong>IdVenta</strong>: @Model.VentaId
		</p>
		<p>
			<strong>IdProducto</strong>: @Model.ProductoId
		</p>
		<p>
			<strong>Precio por Unidad</strong>: @Model.PrecioUnidad
		</p>
		<p>
			<strong>Cantidad</strong>: @Model.Cantidad
		</p>
		<p>
			<strong>Importe</strong>: @Model.Importe
		</p>
		<button class="btn btn-danger" type="submit">Eliminar</button>
		<button class="btn btn-secondary" asp-action="Index">Cancelar</button>
	</div>
</form>