@{
	ViewData["Title"] = "Listado de Ventas";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mt-5">
        <div class="col-8">
			<div class="col-12">
                <form asp-action="AgregarProducto" method="post">
					<div class="col-12">
                        <div class="col-12">
							<div class="col">
                                <label for="productoDropdown">Producto:</label>
                                @Html.DropDownList("productoId",
                                         ViewBag.SelectListProductos as List<SelectListItem>,
                                         "Seleccione un producto", new
                                         {
                                             @class = "form-select border rounded-5 py-2 px-3 w-50 mb-1",
                                             id = "productoDropdown"
                                         })
                            </div>
							<div class="col">
                                <label for="cantidad">Cantidad:</label>
                                <input type="number" class="border btn" id="cantidad" name="cantidadProducto" value="1" min="1" max="100" />
                            </div>
                        </div>
                        <div class="col-6d-inline-block my-3">
                            <input type="submit" value="Agregar pruducto" class="btn btn-primary" />
                            <button asp-action="LimpiarTabla" class="btn btn-outline-danger mx-1">Limpiar</button>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table table-hover shadow-sm border">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio /u</th>
                        <th>Totla</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Productos != null)
                    {
                        foreach (var item in ViewBag.Productos)
                        {
                            <tr>
                                <td class="col-4">@item.Nombre</td>
                                <td class="col-3">@item.cantidadProducto</td>
                                <td class="col-2">@item.Precio</td>
                                <td class="col-3">@item.SubTotal</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <div class="border rounded-4 p-3 shadow" align="center">
                <div class="mb-4 px-3 mt-5">
                    <h3 class="fw-bold">Cahuamanta y mas</h3>
                    <p>ID: 1423</p>
                    <p>10 de Octubre de 2024</p>
                    <p>No. Empleado: 31</p>
                </div>
                <hr style="border: 1px dashed;" />
                <div class="row text-start my-4 px-3">
                    <div class="col-3 fw-bold">
                        <p>Cliente:</p>
                        <p>Pago:</p>
                        <p>Cambio:</p>
                    </div>
                    <div class="col-9 text-end">
                        <p>Cliente Registrado</p>
                        <p>$0.00</p>
                        <p>$0.00</p>
                    </div>
                </div>
                <hr style="border: 1px dashed;" />
                <div class="mt-4 px-3 fw-bold">
                    <p class="text-end fs-4 mb-5">Total: @ViewBag.Total</p>
                </div>
            </div>
        </div>
    </div>